# This file is used to store sensitive information such as database credentials
# Make sure to rename this file to env.php and update the values with your actual credentials
# NOTE: Do not commit this file to github to keep your credentials secure, put it in .gitignore

# To use the credentials in your code, simply include this file and access the values like this:
# $keys = include __DIR__ . '/../env.php';


#<?php
#// if someone tries to open it from the browser, the script stops here
#if (count(get_included_files()) === 1) {
#    exit("Access Denied");
#}
#
#return [
#    'DB_HOST' => 'xxx',
#    'DB_USER' => 'xxx',
#    'DB_PASS' => 'xxx',
#    'DB_NAME' => 'xxx'
#];
